@import url(http://lokeshdhakar.com/projects/lightbox2/css/lightbox.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(http://jasny.github.io/bootstrap/dist/css/jasny-bootstrap.min.css);
@import url(http://getbootstrap.com/assets/css/docs.min.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.css);

.thumbnail {
				display: block;
				padding: 4px;
				margin-bottom: 20px;
				line-height: 1.42857143;
				border: 0px;
				border-radius: 4px;
				-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
