@import url(http://lokeshdhakar.com/projects/lightbox2/css/lightbox.css);
@import url(http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(http://jasny.github.io/bootstrap/dist/css/jasny-bootstrap.min.css);
@import url(http://getbootstrap.com/assets/css/docs.min.css);

@import url(http://dipdiri.com/css/style.css);
@import url(http://dipdiri.com/css/style-example.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css);

@import url(http://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.0/css/blueimp-gallery.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.0/css/blueimp-gallery-indicator.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.0/css/blueimp-gallery-video.css);

img {
	width: 100%;
}

@media (min-width: 400px){
	img {
		width: auto;
	}
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.thumbnail {
				display: block;
				padding: 4px;
				margin-bottom: 20px;
				line-height: 1.42857143;
				border: 0px;
				border-radius: 4px;
				-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}

.one {
	
}

.four {

}

.more{

}

/*.moreLink{
	font-size: 30px;
}*/

.paginateButtons{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#fullsized_go_prev, #fullsized_go_next, #fullsized_close, #fullsized_fullscreen {
      position: absolute;
      top: 50%;
      display: block;
      width: 30px;
      height: 30px;
      background-color: red;
    }
    #fullsized_go_prev {
      left: 25px;
    }
    #fullsized_go_next {
      right: 25px;
    }
    #fullsized_close {
      top: 0;
      right: 0;
    }
    #fullsized_fullscreen {
      top: 0;
      right: 40px;
      background-color: green;
    }
    :fullscreen #fullsized_fullscreen { background-color: blue; }
    :-webkit-full-screen #fullsized_fullscreen { background-color: blue; }
    :-moz-full-screen #fullsized_fullscreen { background-color: blue; }